:root {
    --textShadowForAbbr: black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px,
    black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px;
    --universalFont: 'Pragati Narrow', sans-serif;
    --universalFontColor: aliceblue;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body {
    background-size: cover;
    /* text-align: center; */
    background-image: url("../assets/images/DALLE Rogers Arena.png");
    background-repeat: no-repeat
  }

  .buttonDiv {
    text-align: center;
  }

  .button {
    border-radius: 8px;
    border: none;
    margin: 10px;
    font-family: var(--universalFont);
    font-size: 20px;
    background-color: skyblue;
    cursor: pointer;
  }

  .button:hover {
    background-color: Tomato
  }
