:root {
    --textShadowForAbbr: black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px,
    black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px, black 0px 0px 1.5px;
    --textShadowForAbbrAlt: aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px,
    aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px, aliceblue 0px 0px 1.5px;
    --universalFont: 'Pragati Narrow', sans-serif;
    --universalFontColor: aliceblue;
    --universalFontColorAlt: black;
    --defaultGrayR: 220;
    --backgroundBlueR: 30;
    --backgroundBlueG: 144;
    --backgroundBlueB: 255;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body {
    text-align: center;
    overflow: hidden;
  }

  .titlebar {
    background-color: aliceblue;
    width: 100%;
    position: relative;
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
    -webkit-app-region: drag;
  }

  .titlebarcircle {
    position: relative;
    float: right;
    top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    -webkit-app-region: no-drag;
  }


  .titlebarbutton {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    -webkit-app-region: no-drag;
  }

  .titlebarcircletext {
    position: relative;
    bottom: 1px;
    left: 0.3px;
    font-size: 12px;
  }

  .tbmin {
    position: relative;
    bottom: 2px;
  }

  .titlebarminimize {
    background-color: rgba(34, 139, 34, 0.6);
  }

  .titlebarmaximize {
    background-color: rgba(218, 165, 32, 0.6);
  }

  .titlebarclose {
    background-color: rgba(255, 99, 71, 0.6);
  }

  .titlebarminimize:hover {
    background-color: rgba(34, 139, 34, 1);
  }

  .titlebarmaximize:hover {
    background-color: rgba(218, 165, 32, 1);
  }

  .titlebarclose:hover {
    background-color: rgba(255, 99, 71, 1);
  }

  .App {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/DALLE hockey stick gradient.png");
    background-size: 100% 100%;
  }

  .buttonDiv {
    text-align: center;
  }

  .button {
    border-radius: 8px;
    border: none;
    margin: 10px;
    font-family: var(--universalFont);
    font-size: 20px;
    background-color: skyblue;
    cursor: pointer;
  }

  .button:hover {
    background-color: Tomato
  }

  .componentText {
    font-family: var(--universalFont);
    text-shadow: var(--textShadowForAbbr);
    color: var(--universalFontColor);
    font-weight: bold;
  }

  .buttonText {
    color: black;
    font-weight: normal;
    text-shadow: none
  }

  .banner {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    display: inline-block;
    top: 15%;
}

  .title {
    font-size: 2rem;
  }