@import "App.css";

.gamePageContainer {
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
}

.gameScoreBoardStatusInfo {
    white-space: pre-wrap;
}