@import "App.css";


@media only screen and (min-width: 600px) and (min-height: 600px) {
    .tableContainer {
        text-align: center;
        font-size: 18px;
    }
}


@media only screen and (max-width: 600px) and (max-height: 600px) {
    .tableContainer {
        text-align: center;
        font-size: 13px;
    }
}

.table {
    margin: 0 auto;
}


.tableRow {
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.table img {
    object-fit: contain;
    display: block;
    min-width: 30%;
    min-height: 30%;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tableDataCell {
    padding: 1px;
}
